
div.primo-quadro{
    border: 3px solid;
    border-color: black;
    height: 274px;
    margin: 33px;
    
}


div.secondo-quadro{
    border: 3px solid;
    border-color: black;
    height: 274px;
    margin: 33px;
    
}
div.terzo-quadro{
    border: 3px solid;
    border-color: black;
    height: 274px;
    margin: 33px;
    
}
hr{
    border: 2px solid;
}