* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 9px;
}

body {
    width: 512px;
    border: 1px dotted grey;
}

main {
    height: 805px;
    border-bottom: 3px solid;
    border-top: 3px solid;
}

section {
    margin: 10px;
    padding: 12px;
    padding-top: 0px;
}

.card {
    border: 3px solid;
    border-color: black;
    height: 180px;
    margin: 15px 33px;
}

hr {
    border: 2px solid;
}

footer {
    margin: 14px;
}